.nav-link.active{
    color: white !important;
}

.marco{
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

.centered {
    color: rgb(95, 202, 255);
    font-size: 80px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: rgba(0, 0, 0, 0.403) ;
    
}

@media screen and (max-width: 900px){
    .centered{
        color: rgb(103, 204, 255);
        font-size: 45px;
        position: absolute;
        bottom: 8px;
        left: 16px;
        background-color: rgba(0, 0, 0, 0.403) ;

    }

}

.tamImagen{
    width: 2000px;
}

.containerS {
    position: relative;
    text-align: center;
    color: white;
  }

.estiloparr{
    color:rgb(0, 131, 198);
    font-size: larger;
    
}

.estiloparr2{
    text-decoration: underline;
    color:rgb(0, 131, 198);
    font-size:x-large;
    
}

.estilosub{
    padding-top: 90px;
    font-weight: bolder;
    font-size: 40px;
    
}

.centerimg {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .centerimg2 {
    max-width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }

  .subtitulo{
    padding-top: 90px;
    font-weight: bolder;
    font-size: 40px;
}